*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #041C32; */
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#title{
    text-decoration: none;
    margin: 5px 10px;
    color: #FF6E31;
    background-color:#04293A ;
}

#current-time-nav{
    color: #FF6E31;
}

header{
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #04293A;
    font-family:sans-serif;
    margin-bottom: auto;
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbarLinksList{
    display: flex;
    margin: 1px 5px;
    padding:10px;
    text-decoration: none;
    background-color:#04293A ;
}

.navbar-link{
    margin: 5px 5px;
    padding: 0px 4px;
    display: flex;
    text-decoration: none;
    color: #FF6E31;
    background-color:#04293A;
    
    border-radius: 3px;
    display: block;
}

.navbar-link:hover{
    background-color:#FF6E31 ;
    color: #04293A;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

/* FIRST SECTION */

#firstSection{
background-color: #041C32;
height: 30pc;
color: #FF6E31;
}

#current-time{
    font-size: 1pc;
    letter-spacing: 4px;
}
 

.card-firstSection{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 6pc;
    left: 6pc;
    height: 30%;
    color: #FF6E31;
    background-color: #04293A;
    display: grid;
}

.date-time{
    margin: 1.5vh;
}


.letsgo-btn{
    background-color: #FF6E31;
    color: #04293A;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    border-radius: 5px;
    padding: 2% 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    top: pc;
}

.letsgo-btn:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

/* SECOND SECTION */

#secondSection{
    background-color: lightblue;
    height: 30pc;
    display: flex;
    align-items: center;
    }

    .card-container{
        display: grid;
        width: 100%;
        grid-template-columns: 25% 25% 25%;
        grid-gap: 5%;
        padding:  auto;

    }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card:hover{
    box-shadow: 0 18px 27px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.container{
    padding: 2px 16px;
}




#thirdSection{
    background-color: #041C32;
    height: 30pc;
    }

footer{
    background-color: #04293A;
    padding: 20px;
    margin-top: auto;
    color: #FF6E31;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
}



@media (max-width: 768px){
    #title{
        color: blue;
    }

    .card-firstSection{
        position: absolute;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 8pc;
        height: 40vh;
    }

    .container{
        padding: 10px auto;
    }
}